.u-section-1 {
    background-image: none;
  }
  
  .u-section-1 .u-sheet-1 {
    min-height: 835px;
  }
  
  .u-section-1 .u-text-1 {
    font-weight: normal;
    font-size: 1.875rem;
    margin: 45px 337px 0 0;
  }
  
  .u-section-1 .u-text-2 {
    font-size: 1.125rem;
    margin: 23px 163px 0 87px;
  }
  
  .u-section-1 .u-btn-1 {
    border-style: none;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 0.875rem;
    letter-spacing: 2px;
    margin: -6px auto 0 411px;
    padding: 11px 50px 11px 49px;
  }
  
  .u-section-1 .u-icon-1 {
    font-size: 1.3em;
  }
  
  .u-section-1 .u-text-3 {
    font-size: 1rem;
    margin: 26px 163px 0 87px;
  }
  
  .u-section-1 .u-group-1 {
    width: 800px;
    min-height: 363px;
    margin: 34px auto 0 87px;
  }
  
  .u-section-1 .u-container-layout-1 {
    padding: 10px 21px;
  }
  
  .u-section-1 .u-text-4 {
    font-size: 1rem;
    background-image: none;
    font-family: "Courier Prime";
    margin: 8px auto 0 9px;
  }
  
  .u-section-1 .u-icon-2 {
    width: 64px;
    height: 64px;
    margin: -333px 0 0 auto;
  }
  
  .u-section-1 .u-text-5 {
    font-size: 1.125rem;
    font-weight: normal;
    margin: 34px 145px 49px 89px;
  }
  
  .u-section-1 .u-btn-2 {
    background-image: none;
    padding: 0;
  }

  
  @media (max-width: 1199px) {
    .u-section-1 .u-text-1 {
      margin-right: 137px;
    }
  
    .u-section-1 .u-text-2 {
      margin-right: 50px;
      margin-left: 0;
    }
  
    .u-section-1 .u-btn-1 {
      margin-left: 211px;
    }
  
    .u-section-1 .u-text-3 {
      margin-right: 50px;
      margin-left: 0;
    }
  
    .u-section-1 .u-group-1 {
      margin-left: 0;
    }
  
    .u-section-1 .u-text-4 {
      font-weight: normal;
    }
  
    .u-section-1 .u-text-5 {
      margin-right: 34px;
      margin-left: 0;
    }
  }
  
  @media (max-width: 991px) {
    .u-section-1 .u-text-1 {
      margin-right: 0;
    }
  
    .u-section-1 .u-text-2 {
      margin-right: 0;
    }
  
    .u-section-1 .u-btn-1 {
      margin-left: 0;
    }
  
    .u-section-1 .u-text-3 {
      margin-right: 0;
    }
  
    .u-section-1 .u-group-1 {
      width: 720px;
    }
  
    .u-section-1 .u-text-5 {
      margin-right: 0;
    }
  }
  
  @media (max-width: 767px) {
    .u-section-1 .u-group-1 {
      width: 540px;
    }
  
    .u-section-1 .u-container-layout-1 {
      padding-left: 10px;
      padding-right: 10px;
    }
  }
  
  @media (max-width: 575px) {
    .u-section-1 .u-text-1 {
      font-size: 1.5rem;
    }
  
    .u-section-1 .u-group-1 {
      width: 340px;
    }
  }.u-section-2 {
    background-image: none;
  }
  
  .u-section-2 .u-sheet-1 {
    min-height: 378px;
  }
  
  .u-section-2 .u-text-1 {
    font-size: 1.875rem;
    margin: 7px 337px 0 0;
  }
  
  .u-section-2 .u-text-2 {
    font-size: 1rem;
    margin: 19px 92px 0;
  }
  
  .u-section-2 .u-btn-1 {
    background-image: none;
    padding: 0;
  }
  
  .u-section-2 .u-text-3 {
    font-size: 1.875rem;
    margin: 33px 337px 0 0;
  }
  
  .u-section-2 .u-text-4 {
    font-size: 1.125rem;
    margin: 26px 92px 49px;
  }
  
  .u-section-2 .u-btn-2 {
    background-image: none;
    padding: 0;
  }
  
  @media (max-width: 1199px) {
    .u-section-2 .u-text-1 {
      font-weight: normal;
      margin-right: 137px;
    }
  
    .u-section-2 .u-text-2 {
      margin-left: 0;
      margin-right: 0;
    }
  
    .u-section-2 .u-text-3 {
      margin-right: 137px;
    }
  
    .u-section-2 .u-text-4 {
      margin-left: 0;
      margin-right: 0;
    }
  }
  
  @media (max-width: 991px) {
    .u-section-2 .u-text-1 {
      margin-right: 0;
    }
  
    .u-section-2 .u-text-3 {
      margin-right: 0;
    }
  }
  
  @media (max-width: 575px) {
    .u-section-2 .u-text-1 {
      font-size: 1.5rem;
    }
  
    .u-section-2 .u-text-3 {
      font-size: 1.5rem;
    }
  }


  .stl_ sup {
    vertical-align: baseline;
    position: relative;
    top: -0.4em;
  }
  .stl_ sub {
    vertical-align: baseline;
    position: relative;
    top: 0.4em;
  }
  .stl_ a:link {text-decoration:none;}
  .stl_ a:visited {text-decoration:none;}
  @media screen and (min-device-pixel-ratio:0), (-webkit-min-device-pixel-ratio:0), (min--moz-device-pixel-ratio: 0) {.stl_view{ font-size:10em; transform:scale(0.1); -moz-transform:scale(0.1); -webkit-transform:scale(0.1); -moz-transform-origin:top left; -webkit-transform-origin:top left; } }
  .stl_layer { }.stl_ie { font-size: 1pt; }
  .stl_ie body { font-size: 12em; }
  @media print{.stl_view {font-size:1em; transform:scale(1);}}
  .stl_grlink { position:relative;width:100%;height:100%;z-index:1000000; }
  .stl_01 {
    position: absolute;
    white-space: nowrap;
  }
  .stl_02 {
    font-size: 1em;
    line-height: 0.0em;
    width: 49.58333em;
    height: 70.08334em;
    border-style: none;
    display: block;
    margin: 0em;
  }
  
  @supports(-ms-ime-align:auto) { .stl_02 {overflow: hidden;}}
  .stl_03 {
    position: relative;
  }
  .stl_04 {
    position: absolute;
    pointer-events: none;
    clip: rect(1.444819em,45.4879em,13.68371em,13.19618em);
    width: 100%;
  }
  .stl_05 {
    position: relative;
    width: 49.58333em;
  }
  .stl_06 {
    height: 7.008333em;
  }
  .stl_ie .stl_06 {
    height: 70.08334em;
  }
  
  .stl_07 {
    font-size: 1em;
    font-family: "OULKGS+Times New Roman";
    color: #000000;
  }
  .stl_08 {
    line-height: 1.107422em;
  }
  .stl_09 {
    letter-spacing: 0em;
  }
  
  .stl_ie .stl_09 {
    letter-spacing: 0px;
  }
  .stl_10 {
    font-size: 1em;
    font-family: "OULKGS+Times New Roman";
    color: #0000FF;
  }
  
  
  .stl_11 {
    font-size: 0.87em;
    font-family: "KDLQRM+Courier New";
    color: #000000;
  }
  .stl_12 {
    line-height: 1.132812em;
  }
  
  .stl_13 {
    font-size: 1em;
    font-family: "HVKKAL+Times New Roman Bold", "Times New Roman";
    color: #000000;
  }
  .stl_14 {
    letter-spacing: -0.0027em;
  }
  
  .stl_ie .stl_14 {
    letter-spacing: -0.0427px;
  }
  .stl_15 {
    letter-spacing: 0.2874em;
  }
  
  .stl_ie .stl_15 {
    letter-spacing: 4.0001px;
  }